<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inbar's Ch 25 hw9b Ex3</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <a href="/views/index.html">Link to Start Page</a>
  <h2>Inbar's Articles/ Form Solution</h2>
  <h2>Add New Article</h2>
  <form action="/articles" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>

    <button type="submit">Add</button>
  </form>
  <p id="message"></p>
  <script src="/ex3.js"></script>
</body>

</html>