<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbar's HW 9b</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Inbar's Web Assignment Solution</h1>
    <h2>Links:</h2>
    <a href="/views/ex1.html">Exercise 1 - Order - Process a Form</a><br>
    <a href="/views/ex2.html">Exercise 2 - Send JSON to API</a><br>
    <a href="/views/ex3.html">Exercise 3 - Articles - Process a Form</a><br>
</body>
</html>